.hero {
  background-image: url("../imgs/door.webp");
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.65) 100%
    ),
    url("../imgs/door.webp") no-repeat;

  background-size: cover;
  background-position: 0% 80%;
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 1024px) {
  .hero {
    background-position: 50%;
  }
}
